<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Card Game</title>
    <link rel="stylesheet" href="card-color-definition.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="app">
<div ng-controller="GameCtrl" class="game-view">
    <div
            ng-repeat="card in cards"
            class="card card-{{card.identity}}"
            ng-class="{'flipped': card.flipped, 'archived': card.archived}"
            ng-click="clickCard(card)">
    </div>

    <div class="clearfix"></div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="build/all.min.js"></script>
</body>
</html>